<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.shelfiesupport.shelfie"
          android:versionCode="10"
          android:versionName="0.2.1-alpha">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="nl.shelfiesupport.shelfie.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="nl.shelfiesupport.shelfie.ImportActivity">
            <intent-filter>
                <data android:scheme="http" android:host="getshelfie.herokuapp.com" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="nl.shelfie" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="nl.shelfiesupport.shelfie.AddShelfActivity"/>
        <activity android:name="nl.shelfiesupport.shelfie.EditShelfActivity" android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name="nl.shelfiesupport.shelfie.BaseActivity"/>
        <activity android:name="nl.shelfiesupport.shelfie.GroceryListActivity"/>
    </application>
</manifest>
